<header>
  <h2>ABOUT ME</h2>
</header>
<p style="padding-left: 40px; padding-right: 40px">
  <strong>I'm a Senior Ruby on Rails developer(Senior Full-Stack developer) with a thirst to take on new and challenging projects.</strong>
  <br />
  I’m a developer, a designer, and a maker. I build products and tools that solve real user problems, and I have fun doing it. I like diving into new technologies, flipping them upside-down and inside-out to figure out how and why they work. I’m a quick study and have an appetite for learning. 
  <br />
  I earned <strong><i>Bachelor of Technology  in Computer Science & Engineering from Jawaharlal Nehru Technological University Hyderabad, AP, India APR 2003.</i></strong>

  I'm currently looking for Senior Full stack developer opportunities either Remote positions or Atlanta area. I like companies that are funky and diverse, transparent and supportive, where people are proud of the work they do. If that sounds like someplace you know, get in touch!.

  Currently, I'm working as a full-time full-stack developer for Premiere Global Services, Inc.
</p>

