<p>Customer: Premiere Global Services, Inc.(ATLANTA,GA)</p>
          <p>Jan 2016 - Present</p>
          <p>Project: Globalmeet Meeting Client</p>
          <p>Environment:
    Angular(2-5), SCSS, HTML5, CSS3, NodeJS, Amazon S3, JavaScript(Es6), Angular CLI,Angular Material Design, Jasmine, ELK logging Service and Ruby on Rails backend API's</p>

          <h4><strong>Contract Sr Full-Stack Developer</stong></h4>
            <br />
            <p>Globalmeet is online video and audio conferencing tool for meetings which will support in web browser and mobile devices. (pgi.globalmeet.com/thunder)</p>
            <ul class="default">
              <li> Designed and developed centralized angular pgi  style guide component library which is used in other pgi products(http://styleguide-alpha.pgi-tools.com)</li><li> Implementing new Angular components for HTML5 GlobalMeet 5.0 Web Application.</li><li>    Implemented separate UAPI services to interact with Meeting Client.</li><li>    Worked on Screenshare/Webcam Angular Services and integrated WebRTC third party JS libraries.</li><li>    Worked on VOIP Angular Service to connect VOIP in Room client using SIP.js</li><li> Writing code coverage unit tests and proper documentation for web client using Angular Testing Framework</li><li> Managed Front End Team and participated in code reviews.</li><li> Used Jenkins CI tool for  pipelining of web client</li><li> Migrated web client from Angular 2 to  Angular 4 and then recently Angular 5.</li>
            </ul>
            <hr />

<p>Customer: Premiere Global Services, Inc.(ATLANTA,GA)</p>
          <p>Jan 2011 - Dec 2015</p>
          <p>Project: iMeet (imeet.com)</p>
          <p>Environment:
 Ruby on Rails(3 and 4), GOlang/GIN, Passenger, Sublime Text, Aptana, Jenkins, Rspecs, less,HTML5, CSS3, AJAX,PJAX, AngulaJS, JQuery,MongoDB, JavaScript,Backbone.js, Sinatra, Amazon EC2, Heroku,RESTful,Postgresql, JSON, NodeJS, React/Redux, Elixir/Phoenix, Capybara,Resque/Sidekiq, GIT/Bitbucket, Jira,Scala, Twitter bootstrap,Angular Material Design.
</p>

<h4><strong>Contract Sr Ruby on Rails Developer</stong></h4>
            <br />
            <p>iMeet is an online video conferencing, audio web conferencing  , screen share and social   networking website. Online meetings live on the web with built-in audio and video technology, especially for businesses. iMeet an elegant, personal online meeting room, which allows you at anytime, anywhere to set up a conference. </p>
<ul class="default">
            <li> Implemented Cloud Control module(User's Account Management , Billing and Room Settings) using HTML5,CSS3, Rails4,Twitter Bootstrap and JQuery</li><li> Implemented Devise authentication for iMeet Application</li><li> Implementing new Angular components for HTML5 GlobalMeet 5.0 Web Application.</li><li> Coded pages using twitter bootstrap for B2B user pages.</li><li> Integrated iMeet app to Saleforce and AppDirect(Single Sign on).</li><li> Created API's for iPad/iPhone/Andriod from iMeet</li><li> Coded image processing using Paper clip and mini magick.</li><li> Coding on  Ruby on Rails , JQUERY, Backbone.js,  BootStrap,  Zurb,   HTML5 CSS3/Less  and advanced JS in different parts of the application.</li><li> Written Credit card page integration on iMeet and globalmeet online signup pages.</li><li> Working on integrating iMeet online accounts provisioning through App Direct using Open Id.</li><li> Developed special designed pages for iPad and iPhone mobile devices.</li><li> Implemented sorting, auto completer (typo ahead) and paginations functionality for entire application.</li><li> Developed meeting setting page using Elixir and Phoenix framework.</li><li> Created single page login and meetings pages with Angularjs and Rails4 API.</li><li> Implemented Rails API for mobile and desktop applications.</li><li> Developed iMeet Desktop meeting app using NodeJs/ExpressJS/React/Redux </li><li> Implemented Audio/Video/Chat integration in HTML5 meeting room using Javascript websockets and NW toolkit</li><li> Developed Meeting Analytics tool using MongoDB and AngularJS with Rails API's</li><li> Used Stripe  payment gateway API for paid signups</li><li> Implemented API services using Sinatra and Padrino frameworks for conference creations</li><li> Participated daily stand up and scrum meetings.</li><li> Coded entire Email functionality using ActionMailer for Multilingual(German,English,Japanese and Swedish) and created separate gem(imeet_mailer) for this implementation</li><li> Implemented TDD process and written Rspecs for entire application.</li><li> Developed Gem called Hydrate for JSON parsing . (It allows you to create Ruby classes that automatically serialize to and deserialize from a Hash representation of the object or object tree)</li><li> Developed Gem called bluesteel for centralized CSS and Javascript using bootstrap.</li><li> Used crucible for code reviews.</li>
          </ul>
<hr />
<p>Customer: The World Bank Group(Washington DC)</p>
          <p>Mar 2009 - Feb 2011</p>
          <p>Project: Enterprise Search (search.worldbank.org)</p>
          <p>Environment:
 Ruby on Rails(2 and 3),SOLR,EXALEAD,Apache Passenger, Aptana, HTML5, CSS3, AJAX, JQuery, JavaScript, RESTful, SVN tortoise.
</p>

          <h4><strong>Contract Sr Ruby on Rails Developer</stong></h4>
            <br />
            <p>Enterprise Search is a web based search application for The World bank Group.
This search application includes searching of various kinds of bank documents like projects related documents, data indicators (population, GDP), Secured and confidential documents, People's data and research documents and so on. And also this has all kinds of functionalities like faceted search, spell checker, phonetic matching, auto complete, recommendations, sorting, and best matches and so on. The data has been indexed from all kinds of formats using Solr.</p>
            <ul class="default">
              <li> Analyzed   system requirements specifications and involved in client interaction during requirements specifications.</li><li> Prepared low level and high level design documents for entire application.</li>This involves preparing design documents like Use Case   Diagrams, Class Diagrams, Sequence Diagrams and Entity Diagrams using the client provided design tool, MS Visio 2003. </li><li> Coding using  Ruby on Rails and also used JQUERY, HTML5  and advanced JS for better look and feel.</li><li> Written Rspecs and implemented TDD Process.</li><li> Implemented sorting, auto completer (typo ahead) and paginations functionality for entire application.</li><li> Actively involved in the Indexing of data from different data sources using Solr/Exalead.</li><li> Actively involved in the designing of mobile search application (Blackberry app) requirements and coded backend and front end in Ruby on Rails.</li>

              </ul>

