<header>
    <h3>Skills</h3>
</header>
<ul class="default">
    <li style="margin-top: 0;">Ruby on Rails</li>
    <li style="margin-top: 0;">Angular(2-5) and Angular Material Design</li>
    <li style="margin-top: 0;">NodeJS and ExpressJS</li>
    <li style="margin-top: 0;">SIPJS and WebRTC</li>
    <li style="margin-top: 0;">React/Redux</li>
    <li style="margin-top: 0;">GO Lang</li>
    <li style="margin-top: 0;">JAVA</li>
    <li style="margin-top: 0;">Solr and Exalead Search Engines</li>
    <li style="margin-top: 0;">Elixir and Phoenix</li>
    <li style="margin-top: 0;">Mysql,Postgres, Redis and MongoDB</li>
     <li style="margin-top: 0;">Github, bitbucket and Jenkins</li>
    <li style="margin-top: 0;">Amazon AWS, EC2 and S3</li>
    <li style="margin-top: 0;">Docker</li>
    <li style="margin-top: 0;">RSpec/Capybara, Jasmine and Karma Testing</li>
    <li style="margin-top: 0;">HTML5, CSS3, SCSS/LESS and Javascript</li>
    <li style="margin-top: 0;">Agile development background</li>
    <li style="margin-top: 0;">Works well in team environments</li>
    <li style="margin-top: 0;">Excellent communication skills</li>
    <li style="margin-top: 0;">High attention to detail</li>
    <li style="margin-top: 0;">Problem solving</li>
    <li style="margin-top: 0;">Goal-oriented</li>
    <li style="margin-top: 0;">Creative</li>
</ul>
