<ul class="icons" style="width: 1em; position: fixed; z-index: 1;">
  <li><a href="https://twitter.com/tulasirao" class="icon fa-twitter" target=_blank><span class="label">Twitter</span></a></li>
  <li><a href="https://github.com/tulaseerao" target=_blank class="icon fa-github"><span class="label">GitHub</span></a></li>
  <li><a href="mailto:tulasi.chintha@gmail.com" class="icon fa-google-plus"><span class="label">Email</span></a></li>
  <li><a href="https://www.linkedin.com/in/tulaseerao" target=_blank class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
</ul>
