


    <!-- Header -->
      <section id="header">
        <ul class="icons" style="width: 1em; position: fixed; z-index: 1;">
          <li><a href="https://twitter/Mattyice_Dev" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://github.com/mattathompson" class="icon fa-github"><span class="label">GitHub</span></a></li>
          <li><a href="mailto:matt@mattathompson.org" class="icon fa-google-plus"><span class="label">Email</span></a></li>
          <li><a href="https://www.linkedin.com/pub/matt-thompson/88/110/1a9" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>
        <header>
          <h1>Matthew Thompson</h1>
          <p>Portfolio</p>
        </header>
        <footer>
          <a href="#banner" class="button style2 scrolly scrolly-centered">Learn more about me</a>
        </footer>
      </section>

    <!-- Banner -->
      <section id="banner">
        <header>
          <h2>My Story</h2>
        </header>
        <p style="padding-left: 40px; padding-right: 40px"><strong>I'm a Ruby on Rails developer with a thirst to take on new and challenging projects.</strong><br /><br />Some time in the fall of 2014 I decided to make the move to full-time web development by attending The Iron Yard, immersive program for Ruby on Rails, full-stack, web development at The Iron Yard. Since making the move to full-time development I have had the opportunity to refine my skills as a Ruby developer, as well as work with the basic web languages. I’m an excellent problem solver and take great pride in solving new software challenges. I have had the opportunity to work along side groups of developers on small web applications and learned a great deal about the Git Workflow.
        I was a college student three years in to a software development degree at Georgia Gwinnett College before I made the move to full-time development, during which I worked at Calvary Chapel producing conferences and designing graphics year round. It was my time at Calvary Chapel that developed both my people skills and ability to step up to any challenge when necessary. Currently, I'm working freelance as a full-time full-stack developer for acna.org.</p>
        <footer>
          <a href="#first" class="button style2 scrolly">Featured Projects</a>
        </footer>
      </section>

    <!-- Feature 1 -->
      <article id="first" class="container box style1 right">
        <a href="https://github.com/mattathompson/tunlvision" class="image fit"><img src="images/fulls/tunlvision1.png" style= "right: inherit;" alt="" /></a>
        <div class="inner">
          <header>
            <h2>Tunlvision<br />
            Creative Project Management</h2>
          </header>
          <p>Coming from a creative background I had the opportunity work in a creative enviornment and build all sorts of different creative solutions. My time spent working on those projects and working with creative people taught me that often creatives work in a non-linear way. Tunlvision is a project management tool that allows creatives the freedom to work in a non-linear way.</p>
        </div>
      </article>

    <!-- Feature 2 -->
      <article class="container box style1 left">
        <a href="https://github.com/mattathompson/Podcast_XML_Parse" alt="Zachcast GitHub Repository" class="image fit"><img src="images/fulls/zachcast1.png" alt="" /></a>
        <div class="inner">
          <header>
            <h2>Zachcast<br />
            XML Parse for Itunes Podcasts</h2>
          </header>
          <p>Zachcast is a Rails Application that allows for users to import existing podcast xml files for Itunes and Created new entries. Users can manage multiple rss feeds with this application.</p>
        </div>
      </article>

    <!-- Portfolio -->
      <article class="container box style2">
        <header>
          <h2>All Projects</h2>
          <p>Find all projects located in my <a href="https://github.com/mattathompson">GitHub Repository</a></p>
        </header>
        <!-- Not Ready><div class="inner gallery">
          <div class="row flush">
            <div class="3u"><a href="images/fulls/01.jpg" class="image fit"><img src="images/thumbs/01.jpg" alt="" title="Ad infinitum" /></a></div>
            <div class="3u"><a href="images/fulls/02.jpg" class="image fit"><img src="images/thumbs/02.jpg" alt="" title="Dressed in Clarity" /></a></div>
            <div class="3u"><a href="images/fulls/03.jpg" class="image fit"><img src="images/thumbs/03.jpg" alt="" title="Raven" /></a></div>
            <div class="3u"><a href="images/fulls/04.jpg" class="image fit"><img src="images/thumbs/04.jpg" alt="" title="I'll have a cup of Disneyland, please" /></a></div>
          </div>
        -->
        </div>
      </article>

    <!-- Contact -->
      <!-- <article class="container box style3">
        <header>
          <h2>Nisl sed ultricies</h2>
          <p>Diam dignissim lectus eu ornare volutpat orci.</p>
        </header>
        <form method="post" action="#">
          <div class="row half">
            <div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
            <div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
          </div>
          <div class="row half">
            <div class="12u">
              <textarea name="message" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="12u">
              <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
              </ul>
            </div>
          </div>
        </form>
      </article>

    -->

    <!-- Generic -->

      <article class="container box style3">
        <header>
          <h2>Online Resume</h2>
          <p>View full resume below or click <a href="/MattThompsonResume.pdf" download>download</a></p>
        </header>
        <section>
          <header>
            <h3>Career Motivation</h3>

          </header>
          <p>When awarded responsibility, I consistently deliver a high quality product and enjoy learning new skills, improving
            performance, and increasing efficiency. My desire is to find a work environment where I can contribute my talent for
            Ruby on Rails development to a team of developers and designers
          </p>
        </section>
        <section>
          <header>
            <h3>Skills</h3>
          </header>
          <ul class="default">
            <li style="margin-top: 0;">Ruby on Rails</li>
            <li style="margin-top: 0;">Angular JS</li>
            <li style="margin-top: 0;">RSpec/Capybara Testing</li>
            <li style="margin-top: 0;">HTML, CSS, Javascript</li>
            <li style="margin-top: 0;">Agile development background</li>
            <li style="margin-top: 0;">Adobe Photoshop, Illustrator, Premier, and After Effects</li>
            <li style="margin-top: 0;">Works well in team environments</li>
            <li style="margin-top: 0;">Excellent communication skills</li>
            <li style="margin-top: 0;">High attention to detail</li>
            <li style="margin-top: 0;">Problem solving</li>
            <li style="margin-top: 0;">Goal-oriented</li>
            <li style="margin-top: 0;">Creative</li>
          </ul>
        </section>
        <section>
          <header>
            <h2>Experience</h2>
          </header>
          <p>The Anglican Church of North America, Loganville GA</p>
          <p>Oct 2014 - Feb 2015</p>
          <h4><strong>Contract Full-Stack Developer</stong></h4>
            <br />
            <p>Sole developer on a web application for a national orginization. My role ranged from continued support for existing features as well as developing new features from start to finish.</p>
            <ul class="default">
              <li>Created a feature that worked with the Google Maps API to geocode addresses submitted in the reported process and display map data.</li>
              <li>Created quick, dynamic front-end interactions using Ajax to communicate with a JSON back-end</li>
            </ul>
            <hr />
          <p>Iron Yard, Buckhead GA</p>
          <p>Aug 2014 - Oct</p>
          <h4><strong>Ruby on Rails Development</stong></h4>
          <br />
          <p>Intensive three month program with 60 - 80 hours a week spent on projects to develop and refine web development skills.</p>
          <ul class="default">
            <li>Developed a Project Management web application tool in two weeks including features like Google Authentication, Google Drive Integration, Amazon AWS image upload, and Full-text Searching with pg_search</li>
            <li>Created quick, dynamic front-end interactions using Angular JS to communicate with a JSON back-end</li>
            <li>Won third place at Startup Weekend EDU this September with a group including two other developers</li>
          </ul>
          <hr />
          <p>Calvary Chapel Stone Mountain, Lilburn GA</p>
          <p>Aug 2010 - Jan 2014</p>
          <h4><strong>Graphic Design / Web Management / Event Planning</stong></h4>
          <br />
          <p>Sole in-house graphic designer responsible for a wide variety of visual elements that required dynamic methods of using art to convey ideas.</p>
          <ul class="default">
            <li>Provided graphic design and stage design for three major conferences with 400 guests each</li>
            <li>Grew in responsibility over time from facility preparation and assistance with stage design to full responsibility for stage design and graphic design needs</li>
            <li>Responsible for a variety of week-to-week deliverables including sermon branding, event brochures, and motion graphics</li>
          </ul>
          <hr />
          <p>Cure HR, Atlanta GA</p>
          <p>Jun 2012 - Jan 2013</p>
          <h4><strong>Intern</stong></h4>
          <br />
          <p>Graphic design and front-end development for a Human Resource Management Software reseller.</p>
          <ul class="default">
            <li>Built and deployed graphic content for the Cure HR webpage using HTML, CSS, JavaScript, and Photoshop</li>
            <li>Created tutorial content to guide clients through the process of day-to-day navigation and use of the offered software</li>
            <li>Designed graphic content for trade show advertising</li>
          </ul>
        </section>
      </article>





    <!--
      <article class="container box style3">
        <section>
          <header>
            <h3>Table</h3>
          </header>
          <div class="table-wrapper">
            <table class="default">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>45815</td>
                  <td>Something</td>
                  <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                  <td>29.99</td>
                </tr>
                <tr>
                  <td>24524</td>
                  <td>Nothing</td>
                  <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                  <td>19.99</td>
                </tr>
                <tr>
                  <td>45815</td>
                  <td>Something</td>
                  <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                  <td>29.99</td>
                </tr>
                <tr>
                  <td>24524</td>
                  <td>Nothing</td>
                  <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
                  <td>19.99</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="3"></td>
                  <td>100.00</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </section>
      </article>
    -->

    <section id="footer" style="padding-bottom: 50px;">
        <a href="#header" class="button style2 scrolly scrolly-centered" style="background: none; background-color: none;">Back to Top</a>
    </section>

  
